@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
 /*  Formatação Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Open Sans', sans-serif;
    background-color: #FBF8FB;
    color: #000;
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #fff;
}

/* Header Principal */

.header-top{
    height: 190px;
    text-align: center;
    color: #fff;
    background-color: #FFC400;
    
}

/* H1 Logo top */

.logo-tec{
    font-size:3em;
    padding-top: 10px;
}

.logo-tec > span{
    color: #000;
}

/* Menu de navegação */

.li-nav{
    display: inline-block;
    margin-top: 35px;

}

a .li-nav{
    text-decoration: none;
    padding: 10px;

}

a:hover > .li-nav{
    background-color: #fff;
    color: #FFC400;
}

/* Sessão Principal */

.conteiner{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 680px 300px;
    margin-top: 20px;
    gap: 15px;
}

.sessao-principal{
    background-color: #fff;
    grid-column: 1;
    padding: 15px;
}

.sessao-principal > h2{
    font-size: 2em;
    color: #FFC400;
}

.sessao-principal > p{
    font-size: 0.9em;
    font-weight: 300;
}

.sessao-principal a{
    color: #5e553ba6;
}

/* Aside */

.aside-wrapper{
    grid-column:2;
    grid-row: 1;
}

.aside-block{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.aside-block > p{
    font-size: 0.9em;
    font-weight: 300;
}

.aside-block > ul{
    text-decoration: none;
    list-style: none;
}

.aside-block a{
    color: #86753ca6; 
}

.aside-block > h2{
    background-color: #5e553ba6;
    padding: 5px;
}

/* Formatação Rodapé */

.rodape{
    text-align: center;
    background-color: #FFC400;
    width: 100%;
    margin-top:25px;
    height: 50px;
    padding: 20px;
}